In [1]:
#Referensi: https://www.linkedin.com/pulse/how-scrape-google-play-reviews-4-simple-steps-using-python-kundi/

!pip install google-play-scraper

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting google-play-scraper
  Downloading google_play_scraper-1.2.2-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.2

In [4]:
from google_play_scraper import app

import pandas as pd

import numpy as np

In [ ]:
# Scrape All available reviews 
#(DONT RUN THIS CELL!!! RUN ONLY IF YOU WANT TO SCRAPE ALL AVAILABLE REVIEWS)
#JANGAN DI RUN KODE INI, KECUALI ANDA INGIN SCRAPE SEMUA REVIEWS SEKALIGUS

from google_play_scraper import Sort, reviews_all

result = reviews_all(
    'com.bukalapak.android',
    sleep_milliseconds=0, # defaults to 0
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT , you can use Sort.NEWEST to get newst reviews
)

In [2]:
#Scrape desired number of reviews
#Run kode ini jika ingin scrape data dengan jumlah tertentu. Ganti (misal, ingin scrape sejumlah 1000, maka ganti kode , count = 1000 )

from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.taxsee.taxsee',
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT you can use Sort.NEWEST to get newst reviews
    count=500, # defaults to 100
    filter_score_with=None # defaults to None(means all score) Use 1 or 2 or 3 or 4 or 5 to select certain score
)

In [5]:
df_busu = pd.DataFrame(np.array(result),columns=['review'])

df_busu = df_busu.join(pd.DataFrame(df_busu.pop('review').tolist()))

df_busu.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,924ae73b-353d-41b2-a28b-2e14bd78d8e1,Christien Efruan,https://play-lh.googleusercontent.com/a/ALm5wu...,Ternyata maxim lebih nyaman dan harganya terja...,5,23,3.14.4,2022-11-25 00:58:18,"Kami senang atas penilaian Anda, terima kasih.",2022-11-25 04:59:29
1,6f86645a-766b-4c2f-9986-c9147bffec25,Ahmad Jaly,https://play-lh.googleusercontent.com/a-/ACNPE...,Tarif harganya si ok murah di banding ojol yan...,3,183,3.14.4,2022-11-12 16:21:17,"Kami mohon maaf atas masalah ini, silakan samp...",2022-11-14 08:02:21
2,f0de7341-8ad1-4b79-a685-6af7551659fc,Rasya Alfianovansah,https://play-lh.googleusercontent.com/a-/ACNPE...,"Harga memang murah, namun kenapa saya selalu d...",2,56,3.14.5,2022-11-25 09:26:54,"Kami senang Anda memilih layanan kami, terima ...",2022-08-22 07:32:04
3,82998ad5-f56b-499c-a446-eebcec2881f1,Ayu Condro Kartiko Marsudiana,https://play-lh.googleusercontent.com/a-/ACNPE...,Kecewa sama apk dan drivernya. Tiap dapat dica...,1,128,3.14.3,2022-11-10 12:05:45,"Mohon maaf atas ketidaknyamanannya, kami akan ...",2022-10-06 04:31:15
4,d31bd3b3-bcaf-4f6b-8231-d0b33cfd3d68,Putra Laky,https://play-lh.googleusercontent.com/a-/ACNPE...,"Aplikasi sudah bagus, tapi mohon di perbarui l...",3,28,3.14.4,2022-11-20 23:04:48,"Kami mohon maaf atas masalah ini, silakan samp...",2022-11-22 07:49:12

In [6]:
len(df_busu.index) #count the number of data we got

500

In [7]:
df_busu[['userName', 'score','at', 'content']].head()  #preview userName, rating, date-time, and reviews only

,userName,score,at,content
0,Christien Efruan,5,2022-11-25 00:58:18,Ternyata maxim lebih nyaman dan harganya terja...
1,Ahmad Jaly,3,2022-11-12 16:21:17,Tarif harganya si ok murah di banding ojol yan...
2,Rasya Alfianovansah,2,2022-11-25 09:26:54,"Harga memang murah, namun kenapa saya selalu d..."
3,Ayu Condro Kartiko Marsudiana,1,2022-11-10 12:05:45,Kecewa sama apk dan drivernya. Tiap dapat dica...
4,Putra Laky,3,2022-11-20 23:04:48,"Aplikasi sudah bagus, tapi mohon di perbarui l..."

In [8]:
#Run This Code to Sort the Data By Date 

new_df = df_busu[['userName', 'score','at', 'content']]
sorted_df = new_df.sort_values(by='at', ascending=False) #Sort by Newst, change to True if you want to sort by Oldest.
sorted_df.head()

,userName,score,at,content
370,Dina Resiana,2,2022-11-27 08:56:41,"Kecewa padahal saya yg nunggu,pas sampai lokas..."
50,rahmi aulia,1,2022-11-27 08:23:10,Alhamdulillah saya senang sekali belanja pake ...
72,tavip vip,1,2022-11-27 06:10:12,Aplikasi butut !! Bikin jengkel..!! Manajemen ...
138,fitriyah hoirus,1,2022-11-27 05:54:07,Maxim emang murah. tapi ga bisa ngecancel. sy ...
82,Supriatna Adikoko,1,2022-11-27 04:01:06,Murah nya ok. Cuman maps nya. Saya sampe salah...

In [9]:
my_df = sorted_df[['userName', 'score','at', 'content']] #get userName, rating, date-time, and reviews only

In [10]:
my_df.head()

,userName,score,at,content
370,Dina Resiana,2,2022-11-27 08:56:41,"Kecewa padahal saya yg nunggu,pas sampai lokas..."
50,rahmi aulia,1,2022-11-27 08:23:10,Alhamdulillah saya senang sekali belanja pake ...
72,tavip vip,1,2022-11-27 06:10:12,Aplikasi butut !! Bikin jengkel..!! Manajemen ...
138,fitriyah hoirus,1,2022-11-27 05:54:07,Maxim emang murah. tapi ga bisa ngecancel. sy ...
82,Supriatna Adikoko,1,2022-11-27 04:01:06,Murah nya ok. Cuman maps nya. Saya sampe salah...

In [11]:
my_df.to_csv("scrapped_data.csv", index = False)  #Save the file as CSV , to download: click the folder icon on the left. the csv file should be there.